body {
    height: auto;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: black;
    row-gap: 200px;
    font-family: arial;
}

.cube {
    width: 1000px;
    height: 800px;
    border: solid white 2px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    animation: slider 10s linear infinite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    
@keyframes slider {
    0% {
        /* background-image: url(img/1.jpg); */
        background-color: white;
    }
    33% {
        /* background-image: url(img/2.png); */
        background-color: green;
    }
    66% {
        /* background-image: url(img/3.jpg); */
        background-color: red;
    }
    100% {
        /* background-image: url(img/1.jpg); */
        background-color: blue;
    }

}
.content {
    border: solid white 2px;
    width: 100px;
    height: 100px;
}
.cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 800px;
    border: solid white 2px;
}
.cont1 {
    flex: 1;
    cursor: pointer;
    width: auto;
    height: 800px;
    border: solid white 2px;
    display: grid;
    transition: ease-in-out .3s;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cont1:hover {
    flex: 2;
}
.in {
    background: none;
    color: white;
    border: none;
    font-size: 35px;
    font-weight: bold;
    transition: all ease-in-out 2s;
    border-bottom: dashed white 3px;
    padding: 15px;
    outline: none;
    white-space: 10px;
}
.in::placeholder {
    color: white;
}
.in:focus {
    border-bottom: solid white 3px;
}